.authentication{
  margin-top: 10px;
}
ion-content{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

ion-toolbar{
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.social{
  font-size:40px;
  padding-right: 10px;
  cursor: pointer;
}
