<ion-content>
  <ion-grid style="height: 100%;">
    <ion-row style="height: 60%;">
      <ion-col sizeLg="6">

      </ion-col>
    </ion-row>
    <ion-row style="height: 40%;">
      <ion-col class="action-sheet" sizeLg="6" offsetLg="3">
        <ion-item>
          <ion-avatar slot="start">
            <img src="../../assets/icon/favicon.png">
          </ion-avatar>
          <ion-label  style="font-size: 20px;" color="tertiary">TAWSSIL</ion-label>
        </ion-item>
        <h1><b>Commandez un transporteur en quelques minutes</b></h1>
        <p>Abordable, rapide et sécurisé</p>
        <ion-button expand="block" color="tertiary">Commencer</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
