<ion-header>
  <ion-toolbar color="warning">
    <ion-title class="ion-text-center">TAWSSIL</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid >
    <ion-row >
      <ion-col sizeLg="4" offsetLg="4">
        <ion-img src="../../assets/transportor.jpg"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col sizeLg="4" offsetLg="4" >
        <ion-button shape="block" color="warning" class="btns" routerLink='/transportor-space'><ion-icon slot="end" name="star"></ion-icon >Espace transporteur</ion-button>
      </ion-col>
      <ion-col sizeLg="4" offsetLg="4" >
        <ion-button shape="block" color="danger" fill="outline" class="btns" routerLink='/client-space'><ion-icon slot="end" name="star"></ion-icon>Espace client</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
